.guessesLog-container{
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.guesses-table{
    border: 2px solid gray;
    border-radius: 5px;
    padding: .5rem;
    border-collapse: collapse;
    table-layout: fixed;
}

.guesses-label{
    border-bottom: 1px solid grey;
}
.noGuess-data{
    font-style: italic;
}
.gameGuess-data{
    font-style: normal;
    overflow: hidden;
    max-width: 3rem;
}
.guessedGameRow{
    text-align: left;
}
.guesses-table th,
.guesses-table td{
  padding: .5rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.equal{
    color: green;
}
.arrow{
    font-size: large;
    padding-left: .3rem;
    color: red;
}