.suggestions-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    color: black;
    z-index: 50;
    position:absolute;
    margin-top: 2.5rem;
}
.listItem{
    padding: .3rem;
    margin: 0px;
    border: 1px solid black;
    font-size: large;
    background-color: white;
    
}
.listItem:hover{
    cursor: pointer;
    opacity: 80%;
}
