.forgotPassword-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid grey;
    padding: 1rem;  
    border-radius: 5px;
    min-width: 40rem;
    min-height: 30rem;
    background-color: black;
}
.reset-wrapper{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.reset-wrapper > p{
    font-size: large;
}
.forgotPassword-wrapper > h2{
    font-weight: normal;
}
.reset-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.reset-form > input{
    height: 3rem;  
    font-size: large;
    padding: .3rem;
}