.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 2rem;
}
.app-container > h1{
  font-weight: normal;
}
.userBtnGroup{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.btnStyle{
  width: 12rem;
  height: 3rem;
}
.btn2{
  height:4rem;
  width: 15rem;
}